.article-content { // Customize article content

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-inline-start: calc((var(--card-padding)) * -1.3);
        border-inline-start: 0;
        line-height: 0;
        margin-top: 6%;
    }

    hr {
        width: 100%;
    }

    blockquote,
    .highlight {
        margin-left: calc((var(--card-padding)) * -0.50);
        margin-right: calc((var(--card-padding)) * -1);
        width: calc(100% + var(--card-padding) * 1);
    }
    
}

#i18n-switch { // Hide language selector
    visibility: hidden;
}

.file-color {
    color: #3067FF;
}

.direction-color {
    color: #9746DA;
}

// ol#main-menu.menu {
//     li:nth-child(1) + li:nth-child(2)::before {
//         content: '';
//         display: block;
//         height: 5px;
//         background: orange;
//     }
//     background-color: transparent;
// }